<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>hw6</title>
</head>
<body>
    <div class="header" align="center">
        Events Search
    </div>

    <div class="form">
        <form id="firstForm" onsubmit="search(event)">
            <table align="center" >
                <tr>
                    <td>
                        Keyword &nbsp;
                        <input type="text" id="keyword" name="keyword" autocomplete="on" required >
                    </td>
                </tr>
                <tr>
                    <td>
                        Category &nbsp;
                        <select>
                            <option value="Default">Default</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Distance(miles) &nbsp;
                        <input type="number" id="keyWord" name="keyWord" autocomplete="on" required > &nbsp;
                        from &nbsp;
                        <label><input type="radio" name="distance" value="Here">Here</label>
                        <label><input type="radio" name="distance" value="Other"><input type="number" name="distance" placeholder="10"></label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" id="Search" value="Search" disabled="disabled" /> &nbsp;&nbsp;
                        <button onclick="clearform()">Clear</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div id="result"> 

    </div>

</body>
</html>
<script>
    function search(event){
        event.preventDefault();
        var x = document.getElementById("keyword").value;
        alert(x);
        
    }
    function clearform(){
        document.getElementById("firstForm").reset();
    }

    function checkform(){
        alert("check");
        var x = document.getElementById("keyword").value;
        alert(x);
    }
    window.onload = function () {
        alert("load")
        var x=document.getElementById("Search")
        document.getElementById("Search").removeAttribute("disabled")

        var keyword = document.getElementById("keyword").value;
        var url = "http://127.0.0.1:8080/search?"
        url = url + "keyword=" + keyword;

        var response = fetch(url);
        response
            .then(function(res) {
                console.log("res: ", res)
                document.getElementById("result").innerHTML = res;
            })
    }
</script>